@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;

  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: .5s;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  width: 765px;
  height: 608px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;

  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  animation: rotation 20s linear infinite;
}

.section-title {
  margin: 0;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  display: flex;
  flex-direction: column;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.techniques {
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
}

.cards__image {
  display: block;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
  bottom: -50px;
}

.video__iframes {
  margin-top: 50px;
  display: flex;
  min-width: 1050px;
  justify-content: space-between;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman {
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 890px;
}

.feynman__title {
  margin: 0;  
  margin-top: 100px;
  width: 648px;
  text-align: center;
  align-self: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin-top: 70px;
  align-self: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  transition: .5s;
}

.feynman__link:hover {
  opacity: .5;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  padding-top: 105px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  max-width: 608px;
  max-height: 620px;
}

.khan__buy-link {
  margin: 0;
  padding: 0;
  height: 42px;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: .5s;
}

.khan__buy-link:hover {
  opacity: .5;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  animation: rotation 20s linear infinite;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 1100px;
}

.resources__link {
  width: 270px;
  height: 38px;
  opacity: 1;
  transition: .5s;
}

.resources__link:hover {
  opacity: .5;
}

.resources__logo {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  display: block;
  opacity: 1;
  transition: .5s;
}

.footer__column-link:hover {
  opacity: .5;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}