p, span {
  margin: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.title {
  margin: 0;
  padding: 0;
}

.section-margin {
  margin: 0 auto 100px auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;

  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;

  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  width: 765px;
  height: 608px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;

  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  display: flex;
  flex-direction: column;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.paragraph-margins {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 890px;
}

.feynman__title {
  margin-top: 100px;
  width: 648px;
  text-align: center;
  align-self: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin-top: 70px;
  align-self: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  display: block;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/*Границы блоков для удобного редактирования

div {
  border: 1px solid green;
}

h1 {
  border: 1px solid green;
}

h2 {
border: 1px solid green;
}

h3 {
  border: 1px solid green;
}

h4 {
  border: 1px solid green;
}

span {
  border: 1px solid green;
}

section {
  border: 1px solid green;
}

img {
  border: 1px solid green;
}

p {
  border: 1px solid green;
}

a {
  border: 1px solid green;
}

header {
  border: 1px solid green;
}

footer {
  border: 1px solid green;
}

*/